<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>计算属性和监听器</title>
    <script src="./vue.js"></script>
</head>

<body>
    <div id="root">
        姓：<input v-model="firstName" />
        名：<input v-model="lastName" />
        <div>{{fullName}}</div>
        <div v-show="show">{{count}}</div>
        <div>
            <li v-for="item of list" :key="item">{{item}}</li>
        </div>
    </div>

    <script>
        new Vue({
            el: "#root",
            data: {
                firstName: '',
                lastName: '',
                count: 0,
                show:true,
                list:[1,2,3]
            },
            computed: {
                fullName: function () {
                    return this.firstName + " " + this.lastName
                },
                handleClick:function(){
                    this.show = !this.show
                }
            },
            watch: {
                fullName: function () {
                    this.count++
                }
            }
        })
    </script>
</body>

</html>