<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TODOList</title>
        <script src="./vue.js"></script>
    </head>

    <body>
        <div id="root">
            <input v-model="inputVaule"/>
            <button @click="handleClick">提交</button>
            <ul>
                <li v-for="(item,index) of list">
                    {{item}}
                </li>
            </ul>
        </div>

        <script>
            new Vue({
                el:"#root",
                data:{
                    inputVaule:'',
                    list:[],
                },
                methods:{
                    handleClick:function(){
                        this.list.push(this.inputVaule),
                        this.inputVaule=''
                    }
                }
            })
        </script>
    </body>
</html>